@model AppInventaire.Models.User

@{
    ViewBag.Title = "Modifier Mot de passe";
}

<h2>Modification Mot de Passe</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="old_password">Mot de passe actuel</label>
        <input type="text" class="form-control" name="old_password" placeholder="Ancien mot de passe">
    </div>
    <div class="form-group">
        <label for="new_password">Nouveau mot de passe</label>
        <input type="text" class="form-control" name="new_password" placeholder="Nouveau mot de passe">
    </div>
    <div class="form-group">
        <label for="new_password_confirm">Confirmer le mot de passe</label>
        <input type="text" class="form-control" name="new_password_confirm" placeholder="Nouveau mot de passe">
    </div>
    <button type="submit" class="btn btn-outline-danger"> Modifier </button>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>
