
@{
    ViewBag.Title = "Récupération de mot de passe";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"> Récupération </a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Entrez votre adresse mail</p>
            @using (@Html.BeginForm())
            {
                <div class="input-group mb-3">
                    <input type="text" id="inputEmail" class="form-control form-control-lg" name="inputEmail" placeholder="exemple@gmail.com">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="social-auth-links text-center mb-3">
                    <button type="submit" class="btn btn-block btn-primary btn-lg">
                        <i class="fa-solid fa-circle-right mr-2"></i> Confirmer
                    </button>
                </div>
            }
            <p class="login-box-msg text-center">
                @Html.ActionLink("Se connecter", "Login", new { controller = "Home" }, new { @class = "" })
            </p>
        </div>
    </div>
</div>









