@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Accueil";
}

<style>
    .btn-action {
        width: 150px
    }
</style>

<!-- SEARCH BAR -->
<div class="row">
    <div class="col-md-4 mx-auto d-block">
        <form class="input-group mb-3" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher ..." aria-label="Search"
                  name="searchInput" >
            <button class="input-group-text" id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

@{ 
    string column_class;
    string hide_if_not_admin;
    if(Session["userRole"].ToString() != "admin")
    {
        column_class = "col-md-4";
        hide_if_not_admin = "d-none";
    }
    else
    {
        column_class = "col-md-3";
        hide_if_not_admin = " ";
    }
    string final_class = column_class + " " + hide_if_not_admin;
}

<div class="row">
    <div class="@final_class">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Utilisateurs</h3>
                <p class="invisible">----</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>
            <a href="/User/Index" class="small-box-footer">Voir la liste <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="@column_class">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>Ordinateurs</h3>
                <p class="invisible">----</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-desktop"></i>
            </div>
            <a href="/Computer/Index/" class="small-box-footer">Voir la liste <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="@column_class">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>Raspberry</h3>
                <p class="invisible">----</p>
            </div>
            <div class="icon">
                <i class="ion ion-toggle-filled"></i>
            </div>
            <a href="/Raspberry/Index" class="small-box-footer">Voir la liste <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="@column_class">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>Accessoires</h3>
                <p class="invisible">----</p>
            </div>
            <div class="icon">
                <i class="ion ion-cube"></i>
            </div>
            <a href="/Item/Index/0" class="small-box-footer"> Voir la liste <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>