@model AppInventaire.Models.User

@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<h2>Réinitialisation du mot de passe</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Email">Confirmer votre adresse mail</label>
        <input type="text" class="form-control" name="Email" placeholder="exemple@gmail.com">
    </div>
    <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input type="text" class="form-control" name="newPassword" placeholder="Nouveau mot de passe">
    </div>
    <div class="form-group">
        <label for="newPasswordConfirm">Confirmer le mot de passe</label>
        <input type="text" class="form-control" name="newPasswordConfirm" placeholder="Nouveau mot de passe">
    </div>
    <button type="submit" class="btn btn-outline-danger"> Modifier </button>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>
