@model AppInventaire.Models.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Résultat de recherce";
}

<h2>Recherche</h2>
<table>
    <thead>
        <tr>
            <th> Nom de la table </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td> </td>
        </tr>

    </tbody>
</table>
